@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

html, 
body,
#root,
.App {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

/* html {
  background-image: linear-gradient(to bottom, #202738, #070816);
} */

body {
  background-image: linear-gradient(to bottom, #202738, #070816); 
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.App {
  color: white;
}
